@charset "utf-8";

/*
 * Copyright 2008-2018 futengwl.com. All rights reserved.
 * Support: http://www.futengwl.com
 * License: http://www.futengwl.com/license
 * 
 * Style - Cart
 * Version: 6.0
 */

/* ---------- cart-list ---------- */
.cart-list .tips {
	padding: 10px;
	background-color: #f8f8f8;
}

.cart-list .cart-item-group .media .media-left .product-image {
	display: block;
	position: relative;
}

.cart-list .cart-item-group .media .media-left .product-image strong {
	position: absolute;
	right: 0px;
	bottom: 0px;
	left: 0px;
	color: #ffffff;
	font-weight: normal;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.cart-list .cart-item-group .media .media-body strong {
	display: block;
	color: #de342f;
}

.cart-list .cart-item-group .cart-item-group-footer dl {
	padding-left: 50px;
	margin-bottom: 5px;
}

.cart-list .cart-item-group .cart-item-group-footer dl:last-child {
	margin-bottom: 0px;
}

.cart-list .cart-item-group .cart-item-group-footer dl dt {
	float: left;
	padding: 0px 5px;
	margin-right: 10px;
	margin-left: -50px;
	color: #ff6900;
	font-weight: normal;
	border: 1px solid #ff6900;
}

.cart-list .cart-item-group .cart-item-group-footer dl dd {
	max-width: 200px;
	float: left;
	padding: 1px 5px;
	margin-right: 10px;
	color: #666666;
}

.cart-list .empty {
	padding: 30px 0px;
	font-size: 14px;
	text-align: center;
}

.cart-list footer span {
	margin: 0px 10px;
}

.cart-list footer strong {
	color: #de342f;
	font-size: 14px;
}

.cart-list footer .clear {
	display: none;
}


.carts{ width: 100%; overflow: hidden; }
.carts ul ,.commodity{ display: table; width: 100%; table-layout: fixed; }
.carts li{ display: table-cell; }
.carts .carts_check{ vertical-align: middle; text-align: center;}
.carts .carts_img{ width: 1.4rem; vertical-align: middle;}
.carts .check ,.select_all .check{ width: 0.3rem; height: 0.3rem; line-height: 0.3rem; overflow: hidden; display: inline-block; border: 1px solid #939393; border-radius: 50%; font-size: 0.28rem;}
.carts .checked ,.select_all .checked{ border-color: #fd0000; color: #fff; background-color: #fd0000; }
.carts .num_box a ,.carts .num_box span{ display: inline-block; height: 0.24rem; line-height: 0.24rem; text-align: center;}
.carts .num_box a{ width: 0.24rem; border: 1px solid #d7d6dc; color: #8f8f8f;}
.carts .num_box a.failed{ color:#d1d1d1; }
.carts .num_box span{ width: 0.52rem; border-top: 1px solid #d7d6dc; border-bottom: 1px solid #d7d6dc;}
.select_all .btn_billing{ background: #fe0100; padding: 0.1rem 0.2rem; border-radius: 3px;}
.carts .check, .select_all .check {
    width: 0.3rem;
    height: 0.3rem;
    line-height: 0.3rem;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #939393;
    border-radius: 50%;
    font-size: 0.28rem;
}
.mb45{ margin-bottom: 0.45rem; }
.mb30{ margin-bottom: 0.3rem; }
.mr40{ margin-right: 0.4rem; }
.mr100{ margin-right: 1rem; }
.mt5{ margin-top: 0.05rem; }
.mt9{ margin-top: 0.09rem; }

.m20{ margin: 0.2rem; }
.mt20{ margin-top: 0.2rem; }
.mlr20{ margin-left:0.2rem; margin-right:0.2rem;}

.m10{ margin: 0.1rem; }
.mr10{ margin-right: 0.1rem; }
.mt10{ margin-top: 0.1rem; }
.ml10{ margin-left: 0.1rem; }
.mb10{ margin-bottom: 0.1rem; }

.pt35{ padding-top: 0.35rem; }
.pt25{ padding-top: 0.25rem; }
.pt18{ padding-top: 0.18rem; }
.pt15{ padding-top: 0.15rem; }
.pb25{ padding-bottom: 0.25rem; }
.pb100{padding-bottom: 1rem;}

.pb5{ padding-bottom: 0.05rem; }
.pt5{ padding-top: 0.05rem; }


.pt10{ padding-top: 0.1rem; }
.pb10{ padding-bottom: 0.1rem; }
.pl10{ padding-left: 0.1rem; }
.pr10{ padding-right: 0.1rem; }

.fr{
	float: right !important;
}

